@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css";

body{
    padding-top: 600px;
    font-family: cursive;
    background: url(time.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;

    
}
.login-box{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    coloR:white;
    
}
a:link, a:visited {
    text-decoration: none;
    color:blue;

  }
.login-box h1{

    text-align: center;
    font-size: 40px;
    
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox{
    padding:10px;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 10px;
    margin: 8px 0;
    border-bottom: 1px solid rgb(255, 255, 0);
}
.textbox i{
    
    width: 20px;
    float: left;
    color: white;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    font-weight: 200;
    font-size: 18px;
    width: 80%;
    float: left;
    margin:  0 10px;
    color:black;
    overflow: visible;
}
.btn{
    width: 100%;
    background:white;
    color:blue;
    padding: 10px;
    font-weight: 200;
    font-size: 20px;
    font-weight: bolder;
    font-family: cursive;
    cursor:grabbing;
    margin: 12px 0;
    position:absolute;
}
.btn:hover{
    
    background-color:gray;
}
